body{
    font:15px/1.5 Arial,Helvetica,sans-serif;
    padding: 0;
    margin:0;
    background-color: #f4f4f4;
}

/* @media screen and (max-width:500px){ */
    .header-container{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
       
    } 
    header ul{
        display: flex;
        flex-direction: column;
    }

    header li{
        list-style-type: none;
    }
    header li a{
        
        text-decoration: none;
        text-transform: capitalize;
        font-size: 1rem;
        color: black;
    }
    header h2{
        text-align: center;
    }
    .donate-btn{
        background-color: aqua;
        border-radius: 40px;
        color: black;
        font-weight: bold;
        text-align: center;
        padding-top: 10px;
        padding-bottom: 10px;
        margin-left: 35%;
        margin-bottom: 20px;
     
    }
    .donate-btn a{
        text-decoration: none;
        

    }
    .issue-container{
        background: url('../images/home/annie-spratt-135307-unsplash.png') no-repeat -800px 0px ;
        background-size: cover;
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding-left: 35px;
        padding-right: 35px;

    }
    .issue-title{
        background-color:black;
        color: white;
        margin: auto;
        position: absolute;
        z-index: 1;
        transform: translate(50px,-10px)
      
    }
    .issue-heading{
        font-family:cursive;
        font-size: 3rem;
        color:blanchedalmond
    }
    .issue-message{
        background-color: #f4f4f4;
        text-align: center;
        padding-top: 20px;
        padding-bottom: 20px;
        margin-bottom: 30px;
    }     
    .news-container{
        padding: 25px;
        background-color: aquamarine;
        display: flex;
        flex-direction: column;
   
    }
    .email{
        width: 60%;
        border-radius: 20px;
        border:2px black solid;
    }
    .foot-container1,.foot-container2{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
    .foot-container2 div:nth-child(1){
        order: 1;
    }
    .footer-decoration{
        text-decoration: underline;
    }
    .foot-heading{
        font-family:cursive;
        font-size: 1.5rem;
        display: flex;
        justify-content: space-around;
        padding-right: 0%;


      
    }
    .event-container{
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: black;
        color: #f4f4f4;
        padding-left: 30px;
        padding-right: 30px;
        text-align: center;
    }
    .event-heading{
        font-family:cursive;
        font-size: 3rem;
        display: flex;
        justify-content: space-around;
        padding-right: 0%;

    }
    .event-title{
        background-color:#f4f4f4;
        color: black;
        margin: auto;
        position: absolute;
        z-index: 1;
        transform: translate(10px,-10px)
      
    }
    .round-button{
   
        border-radius: 40px;
        margin-bottom: 30px;
        background-color: aquamarine;
    
    }
    .image{
        margin: auto;
        width: 100%;
    }
    .story-container{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 30px;
        color: black;
        padding-left: 30px;
        padding-right: 30px;
        text-align: center;
    }
    .event-title{
        background-color:black;
        color: white;
        margin: auto;
        position: absolute;
        padding-left: 20px;
        padding-right: 20px;
        z-index: 1;
        transform: translate(50px,-10px)
      
    }
    .message-container{
        background-color: black;
        color:#f4f4f4;
        padding-left: 2rem;
        padding-top: 2rem;
        margin-top: 1.5rem;
    }
    .action-container{
        display: flex;
        flex-direction: column;
        padding-left: 25px;
        background-color: aquamarine;
        margin: auto;
        
  
    }
    .act-container{
        display: flex;
        flex-direction: row;
        justify-content:space-evenly;
        text-align: left;
           

    }
    .change-container{
        background: url('../images/home/did-you-know-background@3x.png') no-repeat 0px 0px; 
        background-size:cover;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-left: 30px;
    }
    .change-title{
        background-color:black;
        color: white;
        margin: auto;
        position: absolute;
        padding-left: 20px;
        padding-right: 20px;
        z-index: 1;
        transform: translate(5rem,-40px)
      
    }
    .change-heading{
        font-family:cursive;
        color:blueviolet;
        font-size: 2rem;
       
    }
    .do-container{
        display: flex;
        flex-direction: column;
        background-color: black;
        color: #f4f4f4;
        padding: 30px;

    }
    .do-heading{
        text-align: center;
        margin-bottom: 20px;
    }
    .do-message-container{
        background-color: #f4f4f4;
        color: black;
        display: flex;
        flex-direction: column;
        text-align: center;
        margin-bottom: 35px;
    }
    .do-box-container{
        display: flex;
        flex-direction: column;
    }
    .img{
        width: 15rem;
        height: 10rem;
        margin: auto;
        position: relative;
        z-index: 1;
        transform: translate(0px,-40px);
    
    }
    .change-box-container{
        display: flex;
        flex-direction: column;
        padding-top: 1rem;
        padding-bottom: 1rem;

    }
    .change-box-container{
        display: flex;
        flex-direction: column;
    }
    .change-box{
        background-color: #f4f4f4;
        margin-right: 30px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 1rem;
        margin-bottom: 0.5rem;
    }
    .icon-container{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .icon{
        width: 0.8rem;
        padding: 10px;
        border-radius: 50%;
        background-color: aquamarine;
        margin-bottom: 1rem;

    }

    .payment-container{
        background-image: url('../images/donation/annie-spratt-427340-unsplash@2x.png');
        background-size: cover;
        padding: 20px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
       
    
    }
    .donate-heading{
        color:blue;
        font-weight: bold;
        text-align: center;
        font-size: 2rem;
        font-family: cursive;
    }
    .form-container{
        background-color:black;
        margin-top: 30px;
        padding: 15px;
        color: white;
     
    }
    .payment-link{
        display: flex;
        flex-direction: column-reverse;
        justify-content: flex-start;
    
    }
    a{
        text-decoration: none;
    

    }
    .payment-button{
        width: 30%;
        color: black;
        background-color: aqua;
        border-radius: 40px;
      
    }
    .your-inf0{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .form-row{
        display: flex;
        flex-direction: row;
        padding: 15px;
    

    }
    input{
        background: transparent;
        border: none;
        border-bottom: 2px solid white;
        margin-top: 10px;
        font-size: 15px;
        width: 90%;
         
    
     }
    .expire-inf0{
        display: flex;
        flex-direction: row;
    }

     @media (min-width: 481px) and (max-width: 768px){
        .header-container{
           flex-direction: column;
           justify-content:center;
        }
        header ul{
    
            flex-direction: row;
            justify-content: space-around;
            flex-basis: 30%;
           
            }
            .header-container{
                flex-direction: column;
                justify-content:center;
             }
             header ul{
         
                 flex-direction: row;
                 justify-content: space-around;
                 flex-basis: 30%;
                
                 }
             #footer{
                 display: flex;
                 flex-direction: row;
              
                 flex-wrap: wrap;
                    
                    }
             .foot-container1{
                     flex-basis: 60%;
                 }
            .foot-container2{
                     flex-basis: 60%;
                     flex-wrap: wrap;
                 }
          
     
    
     }
     @media (min-width: 769px){
        .header-container{
            flex-direction: row;
            justify-content: space-around;
            
         }
         header ul{
     
             flex-direction: row;
             justify-content: space-between;
            text-align: center;
            flex-basis: content;
            margin-left: 30px;
             
         }
        #footer{
         display: flex;
         flex-direction: row;
        
        }
        .foot-container1{
         flex-basis: 50%;
        }
        .foot-container2{
         flex-basis: 50%;
        }
        header ul{
         list-style-type: none;
         flex-basis: 30%;
        }
        .news-container{
            flex-direction: row;
            padding-top: 10px;
            padding-bottom: 10px;
   
        }
        .image{
            position: relative;
        }
        .message-container{
            position: absolute;
            z-index: 1;
            transform: translate(-200px,-500px);
        }
        #stories .round-button{
            position: absolute;
            z-index: 1;
            transform: translate(-400px,500px);
        }
        .change-container{
            flex-direction: row;
            justify-content: space-evenly;
          
        }
        .change-heading{
 
        font-size: 3rem;
       
    }
    .change-title{
       margin:auto;
       height:fit-content;
       text-align: center;
    }
    .issue-container{
        background: url('../images/home/annie-spratt-135307-unsplash@3x.png') ;
        background-size: cover;
       flex-direction: row;
        justify-content: center;
        align-items: center;
        padding-left: 35px;
        padding-right: 35px;
    }
    .issue-heading{
        order: 1;
        margin-left: 35px;
        font-size: 85px;
    }
    .issue-message{
        background-color: #f4f4f4;
        padding-top: 60px;
        padding-bottom: 60px;
        margin-bottom: 30px;
    } 
    .action-container{
      
        flex-direction: row;
        justify-content: center;
        padding-left: 25px;
        background-color: aquamarine;
        margin: auto;
        flex-basis: 30%;
        
  
    }  
    .act-container{
         flex-basis: 50%;
   } 
   .do-message-container{
    width: 30%;
    

   }
   .do-box-container{
       flex-direction: row;
       justify-content: space-between;
}

.payment-container{
    flex-direction: row;
}
.payment-link{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.form-container{
   padding: auto;
}

     }


 /* } */
 